@{
    ViewBag.Title = "Students";
}

<div class="jumbotron">
    <h1>STUDENTS</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>REPOQUIZ</h2>
        
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>