
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<p>Students Table</p>
<div>
    <table>
        <colgroup span="4"></colgroup>
        <tr>
            <th>StudentID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Major</th>
        </tr>
    </table>
</div>